<h1 class="text-center">User Profile Page</h1>
<div id='noUser' ng-if='!profileCtrl.user.didSigned'>Not signed in yet, <a ui-sref='signIn'>
    <button ui-sref='signUp' class="btn btn-default">Sign In Now</button>
</a></div>
<div ng-if='profileCtrl.user.didSigned'>
    <fieldset>
        <legend>User Info</legend>
        <div class="container">
            First Name: {{profileCtrl.user.firstname}}<br>
            Last Name: {{profileCtrl.user.lastname}}<br>
            Email-Id: {{profileCtrl.user.email}}<br>
            Mobile No: {{profileCtrl.user.mobile}}<br>
            Address: {{profileCtrl.user.address}}<br>
            <!-- <img src="items/{{profileCtrl.user.favourite.short_name}}.jpg" 
            alt="loading"> -->
        </div>
    </fieldset>
    </div>