<link rel="stylesheet" type="text/css" href="src/signIn/signIn.css">
<h2 class="text-center">Sign In page</h2>
<div class="Jumbutron">
    <div class="signIn">
        <span>User Email address  </span><input type="email" ng-model="signInCtrl.user.email" placeholder="enter your email address" required>
        <span ng-if="signInCtrl.invalidEmail">Enter email address in valid email format!!</span>
        <br>
        <span>Password  </span><input type="password" ng-model="signInCtrl.user.password" required placeholder="enter your password">
        <br>
        <button class="btn btn-default" ng-click="signInCtrl.logIn()">Log In</button>
    </div>
</div>