<link rel="stylesheet" type="text/css" href="signIn.css">
<div class="Jumbutron">
    <div class="signIn">
        <span>User Email address  </span><input type="email" ng-model="signIn.user.email" placeholder="enter your email address" required>
        <span ng-if="signIn.invalidEmail">Enter email address in valid email format!!</span>
        <br>
        <span>Password  </span><input type="password" ng-model="signIn.user.password" required placeholder="enter your password">
        <button class="btn btn-default" ng-click="signIn.logIn()">Log In</button>
    </div>
</div>