<link rel="stylesheet" type="text/css" href="src/components/mainComponent.css">
<div class="Jumbutron">
    <input class="form-control-lg" type="text" name="Name" placeholder="Enter Name" ng-model="$ctrl.name" id="middle">
    <child-component name="$ctrl.name" id='first'></child-component>
    <child-component name="$ctrl.name" id='second'></child-component>
    <child-component name="$ctrl.name" id='third'></child-component>
    <child-component name="$ctrl.name" id='fourth'></child-component>
</div>  