input{
    margin-top:30px;
    height:40px;
    width:50%;
}
button.btn.btn-default{
    margin-top: 5px;
    margin-left:250px;
    margin-bottom:10px;
    background-color:#61122f;
    color:aqua;
    font-weight:bold;
    border-radius:10px;
    transition:all 300ms ease;
}
legend{
    color:maroon;
    font-weight: bolder;
    font-size: xx-large;
}
span{
    margin-top: 10px;
    color:red;
    font-style: oblique;
}
button.btn.btn-default:hover
{
    
    background-color:green;
    transform:scale(1.2);
}