input{
    margin-top:30px;
    height:40px;
    width:50%;
}
button{
    margin-top: 30px;
    margin-left:250px;
    margin-bottom:300px;
}
legend{
    color: aqua;
    font-weight: bolder;
    font-size: xx-large;
}
span{
    color:red;
    font-style: oblique;
}